extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Garrett Kent

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a young, aspiring developer that is eager to get more involved in the deep world of software development.
            | Technology has always been at the peak of my interest, so I am enjoying pursuing this world of software.
            | This learning journey has been amazing to me thus far and I am having too much fun to stop this process anytime soon.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li ES6
          li JSON
          li Node.js 
          li Object-Oriented Programming
          li AJAX
          li Express
          li Pug templates
          li RegEx
          li HTTP
          li Fetch API
          li Git
          li React.js
          li SQL
          li Sequelize
          li SQLite3
        h6 Contact Info

        ul
          li 731-377-0751
          li 23garrettkent@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/garrett-kent-616b16179/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/GarrettKent', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/Slim_g23', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  